.mail-ev-template
{
	display: none;
}

.mail-ev-browser.simple
{
	table-layout: fixed;
}

.mail-ev-browser.simple td,
.mail-ev-browser.simple th
{
	border: 1px solid #EEEEEE;
}

.mail-ev-browser.simple td
{
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.mail-ev-browser.simple tr:hover td
{
	overflow: none;
	white-space: normal;
}

.mail-ev-browser.simple .event .status
{
	font-weight: bold;
	text-align: center;
}

.mail-ev-browser.simple .event .status.sent
{
	color: Limegreen;
}

.mail-ev-browser.simple .event .status.deferred
{
	color: GoldenRod;
}

.mail-ev-browser.simple .event .status.bounced
{
	color: Crimson;
}

.mail-ev-browser.simple .event .status.expired
{
	color: Black;
}

.mail-ev-browser.simple .next:hover,
.mail-ev-browser.simple .prev:hover
{
	background-color: Highlight;
	color: HighlightText;
}

.mail-ev-browser.simple .next.disabled:hover,
.mail-ev-browser.simple .prev.disabled:hover
{
	background-color: InactiveCaption;
	color: InactiveCaptionText;
}

.mail-ev-browser.user .event td
{
	border: 1px solid #EEEEEE;
}

.mail-ev-browser.single .event .status.sent,
.mail-ev-browser.message .event .status.sent,
.mail-ev-browser.user .event .status.sent
{
	color: #109618;
}

.mail-ev-browser.single .event .status.deferred,
.mail-ev-browser.message .event .status.deferred,
.mail-ev-browser.user .event .status.deferred
{
	color: #FF9900;
}

.mail-ev-browser.single .event .status.bounced,
.mail-ev-browser.message .event .status.bounced,
.mail-ev-browser.user .event .status.bounced
{
	color: #DC3912;
}

.mail-ev-browser.single .event .status.expired,
.mail-ev-browser.message .event .status.expired,
.mail-ev-browser.user .event .status.expired
{
	color: #003971;
}

.mail-ev-browser .next:hover,
.mail-ev-browser .prev:hover
{
	text-decoration: underline;
	cursor: pointer;
}

.mail-ev-browser .next.disabled:hover,
.mail-ev-browser .prev.disabled:hover
{
	text-decoration: none;
	cursor: default;
}

.mail-ev-browser.user .next,
.mail-ev-browser.user .prev
{
	white-space: nowrap;
}

.mail-ev-browser.user .info .query-list_id
{
	font-weight: bold;
}

.mail-ev-browser.user .info .query-address
{
	color: blue;
	text-decoration: underline;
}

.mail-ev-browser.single .event .extra.msg_name {
	font-weight: bold;
}

.mail-ev-browser.single .event .status {
	font-weight: bold;
}

.mail-ev-browser.message .event .status {
	font-weight: bold;
	text-transform: capitalize;
}
