.selectors
{
	padding: 1em;
}

#info
{
	height: 1em;
	margin: 1em;
	font-style: italic;
}

.mail-ev-browser.message
{
	width: 540px;
}

.mail-ev-browser.message .controls,
.mail-ev-browser.message .event-target
{
	width: 100%;
}

.interactive
{
	display: none;
}

.mail-ev-browser.message .event td
{
	white-space: nowrap;
}
